:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
}

h2 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.7;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.7;
}

p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.pitch {
  padding-top: 150px;
}

.primary-link {
  background: var(--primary-color);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  color: white;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link:hover {
  color: white;
}

.stack {
  background: rgb(248, 249, 250);
  display: block;
  margin: 0;
}

.stack-about {
  padding: 50px;
}

.stack-icons {
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.stack-icons i {
  color: var(--primary-color);
}

.about-paragraphs {
  margin: 50px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }

  .pitch {
    padding-top: 50px;
  }

  .primary-link {
    display: none;
    margin-bottom: 30px;
    width: 150px;
  }

  .stack-about {
    padding-bottom: 0px;
  }
}
